In [26]:
import os
import sys

# Clear duplicates and incorrect paths from sys.path
unique_paths = list(set(sys.path))
sys.path = [path for path in unique_paths if 'src' not in path or path.endswith('src')]

# Add the src directory to the Python path
src_path = os.path.abspath('../')
if src_path not in sys.path:
    sys.path.append(src_path)

# Print the cleaned sys.path for verification
print(sys.path)

['', '/Users/datoapanta/PycharmProjects/open_spiel', '/Users/datoapanta/Desktop/mma_2024/src/src', '/Users/datoapanta/opt/anaconda3/envs/my_project_2/lib/python38.zip', '/Users/datoapanta/opt/anaconda3/envs/my_project_2/lib/python3.8/lib-dynload', '/Users/datoapanta/PycharmProjects/open_spiel/build/python', '/Users/datoapanta/opt/anaconda3/envs/my_project_2/lib/python3.8', '/Users/datoapanta/opt/anaconda3/envs/my_project_2/lib/python3.8/site-packages', '/Users/datoapanta/Desktop/mma_2024/src']

In [40]:
import src.config as config
import src.utils.audio_utils as utils
import pandas as pd
from IPython.display import display


AUDIO_DIR = config.AUDIO_DIR

tracks = utils.load(config.TRACKS_PATH)
features = utils.load(config.FEATURES_PATH)
echonest = utils.load(config.ECHONEST_PATH)

In [57]:
print("Features DataFrame:")
print(len(features))
display(features.head(20))
print(features.columns)

Tracks DataFrame:
106574

feature    chroma_cens                                                    \
statistics    kurtosis
number              01        02        03        04        05        06
track_id
2             7.180653  5.230309  0.249321  1.347620  1.482478  0.531371
3             1.888963  0.760539  0.345297  2.295201  1.654031  0.067592
5             0.527563 -0.077654 -0.279610  0.685883  1.937570  0.880839
10            3.702245 -0.291193  2.196742 -0.234449  1.367364  0.998411
20           -0.193837 -0.198527  0.201546  0.258556  0.775204  0.084794
26           -0.699535 -0.684158  0.048825  0.042659 -0.818967 -0.917123
30           -0.721487 -0.848560  0.890904  0.088620 -0.445513 -1.271170
46           -0.119708 -0.858814  2.362546  0.106584 -1.315912 -1.220354
48           -1.054053  0.932339  0.528064 -1.035338 -1.000682 -1.119304
134           0.918445  0.674147  0.577818  1.281117  0.933746  0.078177
135           0.978402  0.623572  1.129261 -1.043970 -1.127288 -0.032642
136           0.915001 -0.643476 -0.460507 -0.530701 -0.364460 -0.226860
137           1.607191  1.199649  0.745765  1.430835 -0.155455  0.768487
138           1.501403  0.957514  1.276685  0.640389  0.442936  0.845533
139          -0.020869  0.432330  0.331278  0.829845  2.625593  2.005660
140           0.533579 -0.623885 -1.086205 -1.081079 -0.765151 -0.072282
141           0.172898 -0.284804 -1.169662 -1.062855 -0.706868 -0.708281
142          -0.581270  3.199484  1.298346 -0.681253 -0.935093 -0.960304
144           0.121207 -0.025308  0.541327  0.967687  1.082456  1.675841
145           0.954054  0.315324  0.015383 -0.023933  0.086671  1.279086

feature                                              ...   tonnetz            \
statistics                                           ...       std
number            07        08        09         10  ...        04        05
track_id                                             ...
2           1.481593  2.691455  0.866868   1.341231  ...  0.054125  0.012226
3           1.366848  1.054094  0.108103   0.619185  ...  0.063831  0.014212
5          -0.923192 -0.927232  0.666617   1.038546  ...  0.040730  0.012691
10          1.770694  1.604566  0.521217   1.982386  ...  0.074358  0.017952
20         -0.289294 -0.816410  0.043851  -0.804761  ...  0.095003  0.022492
26         -0.901834 -0.066845 -0.291037  -0.861782  ...  0.103717  0.025541
30         -1.240190 -1.343765 -0.905600   2.671522  ...  0.141693  0.020426
46         -1.668162 -0.516033 -0.536395  11.025053  ...  0.132632  0.033212
48          1.166990 -1.002603 -1.094999  -0.725826  ...  0.141955  0.024654
134         1.199204 -0.175223  0.925482   1.438509  ...  0.058766  0.016322
135        -0.878434 -0.916234 -0.743257   0.609235  ...  0.104279  0.016731
136        -0.060377 -0.267673 -0.063476   0.248518  ...  0.076808  0.017915
137         3.005594  2.779431  1.567088   2.431861  ...  0.041466  0.011149
138         0.917440  0.770691  1.787260   5.555072  ...  0.045315  0.012823
139         0.907704  0.748191  1.560385   2.565748  ...  0.090518  0.017428
140        -0.882913 -0.582376 -0.884749  -0.645214  ...  0.157683  0.028070
141        -0.204884  0.023624 -0.642770  -0.786291  ...  0.145994  0.024342
142        -0.748014 -0.715798 -0.905853  -0.798362  ...  0.086817  0.021360
144         1.741263  0.470098  4.051888   0.172783  ...  0.082813  0.019886
145         1.966359  0.517441  0.372864   1.281306  ...  0.086215  0.020350

feature                     zcr                                          \
statistics             kurtosis       max      mean    median       min
number            06         01        01        01        01        01
track_id
2           0.012111   5.758890  0.459473  0.085629  0.071289  0.000000
3           0.017740   2.824694  0.466309  0.084578  0.063965  0.000000
5           0.014759   6.808415  0.375000  0.053114  0.041504  0.000000
10          0.013921  21.434212  0.452148  0.077515  0.071777  0.000000
20          0.021355  16.669037  0.469727  0.047225  0.040039  0.000977
26          0.023846  41.645809  0.250488  0.018388  0.015625  0.000000
30          0.025418   8.166595  0.546875  0.054417  0.036133  0.002441
46          0.021310  14.731083  0.223633  0.036601  0.032227  0.000000
48          0.025203  24.550789  0.371582  0.033015  0.022461  0.000000
134         0.015819   4.731087  0.419434  0.064370  0.050781  0.000000
135         0.020464  -0.038451  0.234863  0.050837  0.050781  0.003418
136         0.016706   0.558770  0.147461  0.036686  0.034180  0.003418
137         0.011149  40.950294  0.619629  0.088439  0.086914  0.000000
138         0.012725   5.126394  0.627441  0.102232  0.099121  0.004883
139         0.021490   1.157352  0.261230  0.070760  0.066895  0.000977
140         0.025946  11.052547  0.379395  0.052379  0.036621  0.001953
141         0.032111  32.994659  0.415527  0.040267  0.034668  0.002930
142         0.022975   4.865969  0.309570  0.066520  0.061035  0.001953
144         0.018568   0.627553  0.239258  0.079759  0.078613  0.000000
145         0.016222   3.367346  0.288574  0.070751  0.067871  0.000000

feature
statistics      skew       std
number            01        01
track_id
2           2.089872  0.061448
3           1.716724  0.069330
5           2.193303  0.044861
10          3.542325  0.040800
20          3.189831  0.030993
26          4.690596  0.014598
30          2.244708  0.052674
46          2.848736  0.020713
48          4.406733  0.039016
134         1.806106  0.054623
135         0.297873  0.024899
136         0.805020  0.016905
137         3.275552  0.021831
138         0.633483  0.034676
139         0.769163  0.030017
140         3.143968  0.057712
141         4.204097  0.028665
142         1.625022  0.036644
144         0.226211  0.034378
145         1.064697  0.029904

[20 rows x 518 columns]

MultiIndex([('chroma_cens', 'kurtosis', '01'),
            ('chroma_cens', 'kurtosis', '02'),
            ('chroma_cens', 'kurtosis', '03'),
            ('chroma_cens', 'kurtosis', '04'),
            ('chroma_cens', 'kurtosis', '05'),
            ('chroma_cens', 'kurtosis', '06'),
            ('chroma_cens', 'kurtosis', '07'),
            ('chroma_cens', 'kurtosis', '08'),
            ('chroma_cens', 'kurtosis', '09'),
            ('chroma_cens', 'kurtosis', '10'),
            ...
            (    'tonnetz',      'std', '04'),
            (    'tonnetz',      'std', '05'),
            (    'tonnetz',      'std', '06'),
            (        'zcr', 'kurtosis', '01'),
            (        'zcr',      'max', '01'),
            (        'zcr',     'mean', '01'),
            (        'zcr',   'median', '01'),
            (        'zcr',      'min', '01'),
            (        'zcr',     'skew', '01'),
            (        'zcr',      'std', '01')],
           names=['feature', 'statistics', 'number'], length=518)

In [34]:
# Displaying the first 5 rows of each DataFrame
print("Tracks DataFrame:")
print(len(tracks))
display(tracks.head(20))

# print("\nFeatures DataFrame:")
# print(features.head())

# print("\nEchonest DataFrame:")
# print(echonest.head())

Tracks DataFrame:
106574

            album                                                           \
         comments        date_created date_released engineer favorites  id
track_id
2               0 2008-11-26 01:44:45    2009-01-05      NaN         4   1
3               0 2008-11-26 01:44:45    2009-01-05      NaN         4   1
5               0 2008-11-26 01:44:45    2009-01-05      NaN         4   1
10              0 2008-11-26 01:45:08    2008-02-06      NaN         4   6
20              0 2008-11-26 01:45:05    2009-01-06      NaN         2   4
26              0 2008-11-26 01:45:05    2009-01-06      NaN         2   4
30              0 2008-11-26 01:45:05    2009-01-06      NaN         2   4
46              0 2008-11-26 01:45:05    2009-01-06      NaN         2   4
48              0 2008-11-26 01:45:05    2009-01-06      NaN         2   4
134             0 2008-11-26 01:44:45    2009-01-05      NaN         4   1
135             1 2008-11-26 01:49:19    2009-01-07      NaN         0  58
136             1 2008-11-26 01:49:19    2009-01-07      NaN         0  58
137             1 2008-11-26 01:49:35    2006-12-01      NaN         2  59
138             1 2008-11-26 01:49:35    2006-12-01      NaN         2  59
139             0 2008-11-26 01:49:57    2009-01-16      NaN         1  60
140             1 2008-11-26 01:49:59    2007-05-22      NaN         1  61
141             0 2008-11-26 01:49:57    2009-01-16      NaN         1  60
142             0 2008-11-26 01:50:03    2005-01-25      NaN         1  62
144             0 2008-11-26 01:50:07    2009-01-06      NaN         0  64
145             0 2008-11-26 01:50:07    2009-01-06      NaN         0  64

                                                                     \
                                                information listens
track_id
2                                                   <p></p>    6073
3                                                   <p></p>    6073
5                                                   <p></p>    6073
10                                                      NaN   47632
20                <p> "spiritual songs" from Nicky Cook</p>    2710
26                <p> "spiritual songs" from Nicky Cook</p>    2710
30                <p> "spiritual songs" from Nicky Cook</p>    2710
46                <p> "spiritual songs" from Nicky Cook</p>    2710
48                <p> "spiritual songs" from Nicky Cook</p>    2710
134                                                 <p></p>    6073
135       <p>A couple of unreleased mp3s from the fellas...    3331
136       <p>A couple of unreleased mp3s from the fellas...    3331
137       <p>Here's the proof in the pudding that the as...    1681
138       <p>Here's the proof in the pudding that the as...    1681
139       <p>A full ensamble of strings, drums, electron...    1304
140       <p>Alec K. Redfearn &amp; The Eyesores: Ellen ...    1300
141       <p>A full ensamble of strings, drums, electron...    1304
142       <p>Recorded at Sound Station Seven and at home...     845
144       <p><em>A</em>lthough recorded in Providence in...    2014
145       <p><em>A</em>lthough recorded in Providence in...    2014

                                                   ...  \
                                producer     tags  ...
track_id                                           ...
2                                    NaN       []  ...
3                                    NaN       []  ...
5                                    NaN       []  ...
10                                   NaN       []  ...
20                                   NaN       []  ...
26                                   NaN       []  ...
30                                   NaN       []  ...
46                                   NaN       []  ...
48                                   NaN       []  ...
134                                  NaN       []  ...
135                                  NaN       []  ...
136                                  NaN       []  ...
137                                  NaN  [lafms]  ...
138                                  NaN  [lafms]  ...
139                                  NaN       []  ...
140       Alec K. Refearn, Rob Pemberton       []  ...
141                                  NaN       []  ...
142                                  NaN       []  ...
144                         Tom Buckland       []  ...
145                         Tom Buckland       []  ...

                                                      track           \
                                                information interest
track_id
2                                                       NaN     4656
3                                                       NaN     1470
5                                                       NaN     1933
10                                                      NaN    54881
20                                                      NaN      978
26                                                      NaN     1060
30                                                      NaN      718
46                                                      NaN      252
48                                                      NaN      247
134                                                     NaN     1126
135                                                     NaN     2484
136                                                     NaN     1948
137       <p>Recorded live in downtown Los Angeles at th...     2559
138       <p>Recorded live in downtown Los Angeles at th...     1909
139                                                     NaN      702
140                                                     NaN     1593
141                                                     NaN      839
142                                                     NaN     1223
144                                                     NaN     1146
145                                                     NaN      968

                                                                           \
         language_code                                            license
track_id
2                   en  Attribution-NonCommercial-ShareAlike 3.0 Inter...
3                   en  Attribution-NonCommercial-ShareAlike 3.0 Inter...
5                   en  Attribution-NonCommercial-ShareAlike 3.0 Inter...
10                  en  Attribution-NonCommercial-NoDerivatives (aka M...
20                  en  Attribution-NonCommercial-NoDerivatives (aka M...
26                  en  Attribution-NonCommercial-NoDerivatives (aka M...
30                  en  Attribution-NonCommercial-NoDerivatives (aka M...
46                  en  Attribution-NonCommercial-NoDerivatives (aka M...
48                  en  Attribution-NonCommercial-NoDerivatives (aka M...
134                 en  Attribution-NonCommercial-ShareAlike 3.0 Inter...
135                 en  Attribution-NonCommercial-ShareAlike 3.0 Inter...
136                 en  Attribution-NonCommercial-ShareAlike 3.0 Inter...
137                 en  Attribution-NonCommercial-ShareAlike 3.0 Inter...
138                 en  Attribution-NonCommercial-ShareAlike 3.0 Inter...
139                 en  Attribution-Noncommercial-No Derivative Works ...
140                 en  Attribution-Noncommercial-No Derivative Works ...
141                 en  Attribution-Noncommercial-No Derivative Works ...
142                 en  Attribution-Noncommercial-No Derivative Works ...
144                 en  Attribution-Noncommercial-No Derivative Works ...
145                 en  Attribution-Noncommercial-No Derivative Works ...

                                                     \
         listens lyricist number publisher     tags
track_id
2           1293      NaN      3       NaN       []
3            514      NaN      4       NaN       []
5           1151      NaN      6       NaN       []
10         50135      NaN      1       NaN       []
20           361      NaN      3       NaN       []
26           193      NaN      4       NaN       []
30           612      NaN      5       NaN       []
46           171      NaN      8       NaN       []
48           173      NaN      9       NaN       []
134          943      NaN      5       NaN       []
135         1832      NaN      0       NaN       []
136         1498      NaN      0       NaN       []
137         1278      NaN      1       NaN  [lafms]
138          489      NaN      2       NaN  [lafms]
139          582      NaN      2       NaN       []
140         1299      NaN      2       NaN       []
141          725      NaN      4       NaN       []
142          848      NaN      5       NaN       []
144         1143      NaN      1       NaN       []
145          883      NaN      3       NaN       []


                               title
track_id
2                               Food
3                       Electric Ave
5                         This World
10                           Freeway
20                   Spiritual Level
26               Where is your Love?
30                         Too Happy
46                          Yosemite
48                    Light of Light
134                     Street Music
135                     Father's Day
136       Peel Back The Mountain Sky
137                           Side A
138                           Side B
139                         CandyAss
140               Queen Of The Wires
141                             Ohio
142             Punjabi Watery Grave
144                          Wire Up
145                       Amoebiasis

[20 rows x 52 columns]

In [39]:
print(tracks.columns)

MultiIndex([( 'album',          'comments'),
            ( 'album',      'date_created'),
            ( 'album',     'date_released'),
            ( 'album',          'engineer'),
            ( 'album',         'favorites'),
            ( 'album',                'id'),
            ( 'album',       'information'),
            ( 'album',           'listens'),
            ( 'album',          'producer'),
            ( 'album',              'tags'),
            ( 'album',             'title'),
            ( 'album',            'tracks'),
            ( 'album',              'type'),
            ('artist', 'active_year_begin'),
            ('artist',   'active_year_end'),
            ('artist', 'associated_labels'),
            ('artist',               'bio'),
            ('artist',          'comments'),
            ('artist',      'date_created'),
            ('artist',         'favorites'),
            ('artist',                'id'),
            ('artist',          'latitude'),
            ('artist',          'location'),
            ('artist',         'longitude'),
            ('artist',           'members'),
            ('artist',              'name'),
            ('artist',  'related_projects'),
            ('artist',              'tags'),
            ('artist',           'website'),
            ('artist',    'wikipedia_page'),
            (   'set',             'split'),
            (   'set',            'subset'),
            ( 'track',          'bit_rate'),
            ( 'track',          'comments'),
            ( 'track',          'composer'),
            ( 'track',      'date_created'),
            ( 'track',     'date_recorded'),
            ( 'track',          'duration'),
            ( 'track',         'favorites'),
            ( 'track',         'genre_top'),
            ( 'track',            'genres'),
            ( 'track',        'genres_all'),
            ( 'track',       'information'),
            ( 'track',          'interest'),
            ( 'track',     'language_code'),
            ( 'track',           'license'),
            ( 'track',           'listens'),
            ( 'track',          'lyricist'),
            ( 'track',            'number'),
            ( 'track',         'publisher'),
            ( 'track',              'tags'),
            ( 'track',             'title')],
           )

In [41]:
genre = tracks.loc[:, ('track', 'genre_top')]
title = tracks.loc[:, ('track', 'title')]
number = tracks.loc[:, ('track', 'number')]

# Creating a new DataFrame with these columns
songs_info = pd.DataFrame({
    'genre_top': genre,
    'title': title,
    'number': number
})

# Display the first 20 rows of the new DataFrame
display(songs_info.head(20))

             genre_top                       title  number
track_id
2              Hip-Hop                        Food       3
3              Hip-Hop                Electric Ave       4
5              Hip-Hop                  This World       6
10                 Pop                     Freeway       1
20                 NaN             Spiritual Level       3
26                 NaN         Where is your Love?       4
30                 NaN                   Too Happy       5
46                 NaN                    Yosemite       8
48                 NaN              Light of Light       9
134            Hip-Hop                Street Music       5
135               Rock                Father's Day       0
136               Rock  Peel Back The Mountain Sky       0
137       Experimental                      Side A       1
138       Experimental                      Side B       2
139               Folk                    CandyAss       2
140               Folk          Queen Of The Wires       2
141               Folk                        Ohio       4
142               Folk        Punjabi Watery Grave       5
144               Jazz                     Wire Up       1
145               Jazz                  Amoebiasis       3

In [42]:
unique_values = tracks[('set', 'subset')].unique()

# Display the unique values
print("Unique values in ('set', 'subset') column:")
print(unique_values)

Unique values in ('set', 'subset') column:
['small', 'medium', 'large']
Categories (3, object): ['small' < 'medium' < 'large']

In [46]:
subset = tracks.index[tracks['set', 'subset'] <= 'small']

assert subset.isin(tracks.index).all()
assert subset.isin(features.index).all()

features_all = features.join(echonest, how='inner').sort_index(axis=1)
print('Not enough Echonest features: {}'.format(features_all.shape))

tracks = tracks.loc[subset]
features_all = features.loc[subset]

tracks.shape, features_all.shape

Not enough Echonest features: (13129, 767)

((8000, 52), (8000, 518))

In [61]:
from sklearn.preprocessing import MultiLabelBinarizer, LabelEncoder, LabelBinarizer

train = tracks.index[tracks['set', 'split'] == 'training']
val = tracks.index[tracks['set', 'split'] == 'validation']
test = tracks.index[tracks['set', 'split'] == 'test']

print('{} training examples, {} validation examples, {} testing examples'.format(*map(len, [train, val, test])))

genres = list(LabelEncoder().fit(tracks['track', 'genre_top']).classes_)
# genres = list(tracks['track', 'genre_top'].unique())
print('Top genres ({}): {}'.format(len(genres), genres))
genres = list(MultiLabelBinarizer().fit(tracks['track', 'genres_all']).classes_)
print('All genres ({}): {}'.format(len(genres), genres))

6400 training examples, 800 validation examples, 800 testing examples
Top genres (8): ['Electronic', 'Experimental', 'Folk', 'Hip-Hop', 'Instrumental', 'International', 'Pop', 'Rock']
All genres (114): [1, 2, 6, 10, 12, 15, 16, 17, 18, 21, 22, 25, 26, 27, 30, 31, 32, 33, 36, 38, 41, 42, 45, 46, 47, 49, 53, 58, 64, 66, 70, 71, 76, 77, 79, 81, 83, 85, 86, 88, 89, 90, 92, 94, 98, 100, 101, 102, 103, 107, 109, 111, 113, 117, 118, 125, 130, 167, 171, 172, 174, 177, 180, 181, 182, 183, 184, 185, 186, 214, 224, 232, 236, 240, 247, 250, 267, 286, 296, 297, 314, 337, 359, 360, 361, 362, 400, 401, 404, 439, 440, 456, 468, 491, 495, 502, 504, 514, 524, 538, 539, 542, 580, 602, 619, 695, 741, 763, 808, 811, 1032, 1060, 1193, 1235]

In [49]:
print(genres)

[1, 2, 6, 10, 12, 15, 16, 17, 18, 21, 22, 25, 26, 27, 30, 31, 32, 33, 36, 38, 41, 42, 45, 46, 47, 49, 53, 58, 64, 66, 70, 71, 76, 77, 79, 81, 83, 85, 86, 88, 89, 90, 92, 94, 98, 100, 101, 102, 103, 107, 109, 111, 113, 117, 118, 125, 130, 167, 171, 172, 174, 177, 180, 181, 182, 183, 184, 185, 186, 214, 224, 232, 236, 240, 247, 250, 267, 286, 296, 297, 314, 337, 359, 360, 361, 362, 400, 401, 404, 439, 440, 456, 468, 491, 495, 502, 504, 514, 524, 538, 539, 542, 580, 602, 619, 695, 741, 763, 808, 811, 1032, 1060, 1193, 1235]

In [51]:
print(len((genres)))

114

In [55]:
print(train)
print(test)
print(val)

Index([     2,      5,     10,    140,    141,    190,    193,    194,    197,
          200,
       ...
       152570, 153337, 153383, 153452, 153946, 153955, 153956, 154413, 154414,
       155066],
      dtype='int64', name='track_id', length=6400)
Index([   182,    704,    705,    706,    707,    708,    709,    890,    892,
         1066,
       ...
       150017, 150018, 150287, 150288, 154303, 154305, 154306, 154307, 154308,
       154309],
      dtype='int64', name='track_id', length=800)
Index([   148,    459,    602,    690,    993,   1087,   1893,   2012,   3263,
         3264,
       ...
       148216, 148217, 148218, 148231, 148233, 148234, 148235, 148303, 148429,
       149452],
      dtype='int64', name='track_id', length=800)

In [64]:
from sklearn.preprocessing import MultiLabelBinarizer, LabelEncoder, LabelBinarizer
labels_onehot = LabelBinarizer().fit_transform(tracks['track', 'genre_top'])
labels_onehot = pd.DataFrame(labels_onehot, index=tracks.index)
display(labels_onehot)

          0  1  2  3  4  5  6  7
track_id
2         0  0  0  1  0  0  0  0
5         0  0  0  1  0  0  0  0
10        0  0  0  0  0  0  1  0
140       0  0  1  0  0  0  0  0
141       0  0  1  0  0  0  0  0
...      .. .. .. .. .. .. .. ..
154308    0  0  0  1  0  0  0  0
154309    0  0  0  1  0  0  0  0
154413    0  0  0  0  0  0  1  0
154414    0  0  0  0  0  0  1  0
155066    0  0  0  1  0  0  0  0

[8000 rows x 8 columns]

In [72]:
from sklearn.preprocessing import StandardScaler
from sklearn.utils import shuffle

train = tracks.index[tracks['set', 'split'] == 'training']
val = tracks.index[tracks['set', 'split'] == 'validation']
test = tracks.index[tracks['set', 'split'] == 'test']

def pre_process(tracks, features=None, columns=None):
    # Assign an integer value to each genre.
    encoder = LabelBinarizer()
    labels = tracks['track', 'genre_top']
   
    # Split in training, validation and testing sets.
    y_train = encoder.fit_transform(labels[train])
    y_val = encoder.transform(labels[val])
    y_test = encoder.transform(labels[test])

    # here VGGish features
    # X_train = features.loc[train, columns].to_numpy()
    # X_val = features.loc[val, columns].to_numpy()
    # X_test = features.loc[test, columns].to_numpy()
    
    # X_train, y_train = shuffle(X_train, y_train, random_state=42)
    
    # Standardize features by removing the mean and scaling to unit variance.
    scaler = StandardScaler(copy=False)
    # scaler.fit_transform(X_train)
    # scaler.transform(X_val)
    # scaler.transform(X_test)
    
    return y_train, y_val, y_test #, X_train, X_val, X_test

y_train, y_val, y_test = pre_process(tracks)
y_train = pd.DataFrame(y_train, index=train)
display(y_train)
y_val = pd.DataFrame(y_val, index=val)
display(y_val)
y_test = pd.DataFrame(y_test, index=test)
display(y_test)

          0  1  2  3  4  5  6  7
track_id
2         0  0  0  1  0  0  0  0
5         0  0  0  1  0  0  0  0
10        0  0  0  0  0  0  1  0
140       0  0  1  0  0  0  0  0
141       0  0  1  0  0  0  0  0
...      .. .. .. .. .. .. .. ..
153955    0  0  0  0  0  0  1  0
153956    0  0  0  0  0  0  1  0
154413    0  0  0  0  0  0  1  0
154414    0  0  0  0  0  0  1  0
155066    0  0  0  1  0  0  0  0

[6400 rows x 8 columns]

          0  1  2  3  4  5  6  7
track_id
148       0  1  0  0  0  0  0  0
459       0  0  0  0  0  0  0  1
602       0  0  1  0  0  0  0  0
690       0  0  0  0  0  0  0  1
993       0  0  0  0  0  0  0  1
...      .. .. .. .. .. .. .. ..
148234    0  0  1  0  0  0  0  0
148235    0  0  1  0  0  0  0  0
148303    0  1  0  0  0  0  0  0
148429    0  0  0  0  0  1  0  0
149452    0  0  0  0  0  0  0  1

[800 rows x 8 columns]

          0  1  2  3  4  5  6  7
track_id
182       0  0  0  0  0  0  0  1
704       0  0  0  0  0  1  0  0
705       0  0  0  0  0  1  0  0
706       0  0  0  0  0  1  0  0
707       0  0  0  0  0  1  0  0
...      .. .. .. .. .. .. .. ..
154305    0  0  0  1  0  0  0  0
154306    0  0  0  1  0  0  0  0
154307    0  0  0  1  0  0  0  0
154308    0  0  0  1  0  0  0  0
154309    0  0  0  1  0  0  0  0

[800 rows x 8 columns]

In [67]:
# this assigns only a int number to the genre but not one-hot encoding
labels_onehot = LabelEncoder().fit_transform(tracks['track', 'genre_top'])
labels_onehot = pd.DataFrame(labels_onehot, index=tracks.index)
display(labels_onehot)

          0
track_id
2         3
5         3
10        6
140       2
141       2
...      ..
154308    3
154309    3
154413    6
154414    6
155066    3

[8000 rows x 1 columns]